body{
	background-image: url("https://ak2.picdn.net/shutterstock/videos/7034680/thumb/1.jpg");
	background-size: cover;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	color: white;
	margin: 0;
}

.jumbotron {
	display: none;
	padding: 10px;
	text-align: center;
	color: white;
	background-color: rgba(102, 51, 153, .6);
}
.jumbotron h1 {
	font-size: 50px;
}

.title{
	font-size: 36px;
	text-align: center;
	/*margin-bottom: 5%;*/
}
.instructions {
	list-style-type: decimal; 
	list-style-position: inside;
	line-height: 1.5;
	margin: 1em;
}
.results {
	font-size: 25px;
}
.container {
	display: none;
	margin: 0 auto;
	width: 75%;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, .6);
}
.scoreboard {
	margin: 1em;
	line-height: 1.5;
}
.crystals {
	text-align: center;
	display: none;
}
.minerals:hover {
	border: 1px solid white;
}